:root {
    --gold: rgb(104, 76, 5);
    --gray: #505050;
    --black: #000000;
    --lighter-gold: rgb(153, 112, 9);
    --border: var(--lighter-gold);
    --bg: var(--black);
}

body {
    background-color: black;
    color: chocolate;
    padding: 5px;
    font-family: monospace;
    justify-content: center;
}

.content {
    border: 1px solid var(--border);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: auto;
    padding: 5px;
    width: min(600px, 80%);
    color: var(--border);
}

.content__header {
    border: 1px solid var(--border);
    border-radius: 5px;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    padding: 0;
}

.content__nav {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 0;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    list-style: none;
    padding: 5px 0;
    margin: 0;
}

.nav__item {
    flex-shrink: 1;
    flex-grow: 0;
    justify-content: center;
    text-align: center;
}

.nav__list--line::after {
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    background-color: var(--border);
}

input, button {
    background-color: rgb(166, 146, 96);
    color: black;
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 75px;
    text-align: center;
}

input:focus, button:focus {
    outline: none !important;
    border: 1px solid rgb(104, 76, 5);
    background-color: rgb(192, 178, 141);
}

.content__field {
    display: flex;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px 0;
    height: fit-content;
    justify-content: center;
    text-align: center;
}

.field__container {
    display: block;
}

.content__footer {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 0;
    text-align: center;

}

#field {
    background-color: #202020;
    border: 1px solid var(--border);
    padding: 0px;
}

.dead {
    background-color: #202020;
}

.alive {
    background-color: #606060;
}

table {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}

tr, td {
    border: 1px solid #191919;
    height: 5px;
    width: 5px;
    margin: 0px;
    padding: 0px;
}  

@media (max-width: 800px) {
    body {
        font-size: 24px;
    }

    input, button {
        width: 120px;
        font-size: 24px;
    }
}